.cover {
    margin: 92px auto 0;
    color: #FFFFFF;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../images/__background.png');
    background-size: cover;
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1184px;

}

.cover:hover {
    background-image: linear-gradient(rgba(36, 34, 34, 0.7), rgba(36, 34, 34, .7)), url('../../images/__background.png');
}

@media (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        max-height: 640px;
        min-height: 480px;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 90px 0 0 0;
        max-width: 768px;
        max-height: 480px;
        min-height: 200px;
    }
}

@media (max-width: 320px) {
    .cover {
        margin: 66px 0 0 0;
        max-width: 320px;
        max-height: 200px;
    }
}